<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag image_path("http://jiang.styxzp.com/images/favicon.ico") %>
</head>
<body>
<%= render 'public/menu' %>

<%= yield %>

</body>
</html>
